@{ 
    ViewData["Title"] = "Contact"; 
}
<h1>ViewData["Title"]</h1>

<form>
    Voornaam: <input type="text" name="firstname" placeholder="Uw voornaam.." required/>
    Achternaam: <input type="text" name="lastname" placeholder="Uw achternaam.." required/>
    Email: <input type="text" name="E-mail" placeholder="Uw E-mail.." pattern="[A-Za-z0-9._%+-]+@@[A-Za-z0-9.-]+\.[a-z]{2,}$" required/>
    Telefoonnummer: <input type="text" name="Phone number" placeholder="Uw Telefoonnummer.." pattern="[0-9]{10}" required/>
    <input type="submit" value="opslaan"/>

</form>