@{ 
    ViewData["Title"] = "Contact"; 
}
<h1>Contact met ons opnemenen? </h1>

<div class="bioscoop">
    <img src="/img/bioscoop.webp" alt="bioscoop" />
</div>

<form>
    Voornaam: <input type="text" name="firstname" placeholder="Uw voornaam.." required/> <br />
    Achternaam: <input type="text" name="lastname" placeholder="Uw achternaam.." required/><br />
    Email: <input type="text" name="E-mail" placeholder="Uw E-mail.." pattern="[A-Za-z0-9._%+-]+@@[A-Za-z0-9.-]+\.[a-z]{2,}$" required/><br />
    Telefoonnummer: <input type="text" name="Phone number" placeholder="Uw Telefoonnummer.." pattern="[0-9]{10}" required/><br />
    <input type="submit" value="opslaan"/>
</form>