<h1> filmdetails</h1>
<div class="filmDetails">
    <div class="image">
        <img src="/img/movies/R.jpg" />
    </div>
    <div class="info">
        <p1>Film James Bond: No Time to die</p1>
        <p1>Genre : actie</p1>
        <p1>In de 25e James Bond -film No Time To Die heeft james bond zijn turbelente leven als geheim agent achter zich gelaten en leidt hij een rustig bestaan op jamaica.</p1>
    </div>
</div>