@{
    ViewData["Title"] = "Home Page";
}


<p>Binnenkort bij u in de bioscoop</p>

<div class="movies">    
    <div class="movie">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRP3310_bfvKXF4PFy1BPmfjlG6AzgPdQDwjg&usqp=CAU" />
    </div>
    <div class="movie">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRP3310_bfvKXF4PFy1BPmfjlG6AzgPdQDwjg&usqp=CAU" />
    </div>
    <div class="movie">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRP3310_bfvKXF4PFy1BPmfjlG6AzgPdQDwjg&usqp=CAU" />
    </div>
    <div class="movie">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRP3310_bfvKXF4PFy1BPmfjlG6AzgPdQDwjg&usqp=CAU" />
    </div>
    <div class="movie">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRP3310_bfvKXF4PFy1BPmfjlG6AzgPdQDwjg&usqp=CAU" />
    </div>
</div>


