@using SchokoCinema.Database
@model List<Movie>
@{
    ViewData["Title"] = "Home Page";
}

<h1>Binnekort bij u in de bioscoop</h1>
<div class="rectangle"></div>
<div class="movie-list">
    @foreach(Movie m in Model)
    {
      <div class="movie">    
        <img src="@m.Poster"/>
      </div>
    }
</div>





