@{
    ViewData["Title"] = "Home Page";
}


<img src="css/logo.png" width="180" height="100">

<div class="titel">
  <h1 class="display-4">Welcome</h1>
 </div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Binnenkort bij u in de bioscoop</p>
</div>


