@using SchokoCinema.Database
@model List<string>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Alle Namen!</h1>
    @foreach(string naam in Model)
    {
      <p>@naam</p>    
    }
</div>

<div id="rectangle">
    <p>Binnenkort bij u in de bioscoop</p>
 <div class="movies">
    <div class="movie">
        <img src="/img/movies/2018_11_26_17316595-c723-4220-9179-8d9fca76cacc_png_1800x2700.jpg" />
    </div>
    <div class="movie">
        <img src="/img/movies/R.jpg" />
    </div>
    <div class="movie">
        <img src="/img/movies/84679dca2c0b40c3c013935379a865d9.jpg" />
    </div>
    <div class="movie">
        <img src="/img/movies/forrest-gump-poster-1994-tom-hanks.png" />
    </div>
    <div class="movie">
        <img src="/img/movies/shankshaw.jpg" />
    </div>
    <div class="movie">
        <img src="/img/movies/740full-my-neighbor-totoro-poster.jpg" />
    </div>
        <div class="movie">
        <img src="/img/movies/matrix.jpg" />
    </div>
        <div class="movie">
        <img src="/img/movies/kung-fu-panda-3-jaquette.jpg" />
    </div>
        <div class="movie">
        <img src="/img/movies/1917.jpg" />
    </div>
 </div>
</div>


