@{
    ViewData["Title"] = "Home Page";
}

<<<<<<< HEAD
<img src="css/logo.png" width="180" height="100">

<div class="titel">
  <h1 class="display-4">Welcome</h1>
 </div>
=======
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Binnenkort bij u in de bioscoop</p>
<<<<<<< HEAD
>>>>>>> fe0890dd6e2e80fe0ef8c0cddff0fda76a55be87
=======
>>>>>>> fe0890dd6e2e80fe0ef8c0cddff0fda76a55be87
</div>


