body {
    background-color: rgb(153, 200, 255);
    margin: 0px;
}

.movies {
}

.movie {
}

ul {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin-left: 100px;
    padding: 0;
    overflow: hidden;
    background-color: #050101;
}

li {
    float: left;
}

    li a {
        display: block;
        color: #8E0DFF;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        li a:hover {
            background-color: #808080;
        }

.active {
    background-color: #A34C9D;
}
