body {
    background-color: rgb(153, 200, 255);
    margin: 0px;
}

p {
    padding-top: 50px;
}

.movies {
    display: flex;
    margin-right: 20px;
}

.movie img {
    width: 180px;
    height: 283px; 
}

ul {
    top: 0;
    width: 100%;
    list-style-type: none;
    margin-left: 100px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    overflow: hidden;
    background-color: #050101;
}

li {
    float: left;
}

    li a {
        display: block;
        color: #8E0DFF;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        li a:hover {
            background-color: #808080;
        }

.active {
    background-color: #A34C9D;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
}

    .logo img {
        width: 100px;
        height: 46px;
    }
