body {
    background-color: rgb(153, 200, 255);
    margin: 0px;
}

p {
    font-size: 30px;
    color: white;
    text-align: center;
}

.movies {
    display: flex;
    margin-right: 20px;
    padding-left: 40px;
}

.movie img {
    width: 180px;
    height: 283px; 
    margin-right : 20px ;
}

#rectangle {
    height: 400px;
    border-radius: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    background: #5954FF;
}


ul {
    top: 0;
    width: 100%;
    list-style-type: none;
    margin-left: 100px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    overflow: hidden;
    background-color: #050101;
}

li {
    float: left;
}

    li a {
        display: block;
        color: #8E0DFF;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        li a:hover {
            background-color: #808080;
        }

.active {
    background-color: #A34C9D;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
}

    .logo img {
        width: 100px;
        height: 46px;
    }


header{
    position : fixed;
    padding-right :inherit;
}


input[type=text], select, textarea {
    width: 20%;
    padding: 12px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px;
    margin-left: 16px;
    resize: vertical
}


input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    input[type=submit]:hover {
        background-color: #45a049;
    }

.container {
    border-radius: 5px;
    background-image: url('img_bioscoop.webp');
    padding: 20px;
}

#rectangle2 {
    height: 1000px;
    border-radius: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 200px;
    background: #5954FF;
}

p1 {
    font-size: 30px;
    color: white;
    display: block;
}

.image{
    flex: 1;
}

.image img{
    width: 100%;
}

.filmDetails {
    display: flex;
    background: #5954FF;
    margin-left : 50px;
    margin-right : 50px;
}

.info {
    flex: 2;
    padding: 20px;
}

h1{
    text-align: center;
}

.form{
    display: block;
    text-align: center;
}

.movie img{
    width: 200px;
}

.movie-list{
    display: flex;
    margin-top: 20px;
    flex-flow: row;
    gap: 10px;
}
