<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SchokoCinema</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <ul>
        <li><a class="active" href="#home">Home</a></li>
        <li><a href="#Filmsdetails">Filmdetails</a></li>
        <li><a href="#Locaties">Locaties</a></li>
        <li><a href="#Contact">Contact</a></li>
    </ul>
    <img src="css/logo.png" width="180" height="100">
    @RenderBody()
</body>
</html>
